
*.vcxproj
*.filters
*.user
ImageTester/ImageProcess_H/ReadMe.txt
ImageTester/ImageProcess_H/x64/Debug/cl.command.1.tlog
ImageTester/ImageProcess_H/x64/Debug/CL.read.1.tlog
ImageTester/ImageProcess_H/x64/Debug/CL.write.1.tlog
ImageTester/ImageProcess_H/x64/Debug/ImageProcess_H.Build.CppClean.log
ImageTester/ImageProcess_H/x64/Debug/ImageProcess_H.lastbuildstate
ImageTester/ImageProcess_H/x64/Debug/ImageProcess_H.log
ImageTester/ImageProcess_H/x64/Debug/ImageProcess_H.write.1.tlog
ImageTester/ImageProcess_H/x64/Debug/link-cvtres.read.1.tlog
ImageTester/ImageProcess_H/x64/Debug/link-cvtres.write.1.tlog
ImageTester/ImageProcess_H/x64/Debug/link.3808-cvtres.read.1.tlog
ImageTester/ImageProcess_H/x64/Debug/link.3808-cvtres.write.1.tlog
ImageTester/ImageProcess_H/x64/Debug/link.3808.read.1.tlog
ImageTester/ImageProcess_H/x64/Debug/link.3808.write.1.tlog
ImageTester/ImageProcess_H/x64/Debug/link.command.1.tlog
ImageTester/ImageProcess_H/x64/Debug/link.read.1.tlog
ImageTester/ImageProcess_H/x64/Debug/link.write.1.tlog
ImageTester/ImageProcess_H/x64/Debug/mt.command.1.tlog
ImageTester/ImageProcess_H/x64/Debug/mt.read.1.tlog
ImageTester/ImageProcess_H/x64/Debug/mt.write.1.tlog
ImageTester/ImageProcess_H/x64/Debug/rc.command.1.tlog
ImageTester/ImageProcess_H/x64/Debug/rc.read.1.tlog
ImageTester/ImageProcess_H/x64/Debug/rc.write.1.tlog
ImageTester/ImageProcess_H/x64/Debug/vc100.idb
ImageTester/ImageProcess_H/x64/Release/cl.command.1.tlog
ImageTester/ImageProcess_H/x64/Release/CL.read.1.tlog
ImageTester/ImageProcess_H/x64/Release/CL.write.1.tlog
ImageTester/ImageProcess_H/x64/Release/ImageProcess.obj
ImageTester/ImageProcess_H/x64/Release/ImageProcess_H.Build.CppClean.log
ImageTester/ImageProcess_H/x64/Release/ImageProcess_H.dll.intermediate.manifest
ImageTester/ImageProcess_H/x64/Release/ImageProcess_H.lastbuildstate
ImageTester/ImageProcess_H/x64/Release/ImageProcess_H.log
ImageTester/ImageProcess_H/x64/Release/ImageProcess_H.obj
ImageTester/ImageProcess_H/x64/Release/ImageProcess_H.pch
ImageTester/ImageProcess_H/x64/Release/ImageProcess_H.res
ImageTester/ImageProcess_H/x64/Release/ImageProcess_H.vcxprojResolveAssemblyReference.cache
ImageTester/ImageProcess_H/x64/Release/ImageProcess_H.write.1.tlog
ImageTester/ImageProcess_H/x64/Release/link-cvtres.read.1.tlog
ImageTester/ImageProcess_H/x64/Release/link-cvtres.write.1.tlog
ImageTester/ImageProcess_H/x64/Release/link.command.1.tlog
ImageTester/ImageProcess_H/x64/Release/link.read.1.tlog
ImageTester/ImageProcess_H/x64/Release/link.write.1.tlog
ImageTester/ImageProcess_H/x64/Release/mt.command.1.tlog
ImageTester/ImageProcess_H/x64/Release/mt.read.1.tlog
ImageTester/ImageProcess_H/x64/Release/mt.write.1.tlog
ImageTester/ImageProcess_H/x64/Release/rc.command.1.tlog
ImageTester/ImageProcess_H/x64/Release/rc.read.1.tlog
ImageTester/ImageProcess_H/x64/Release/rc.write.1.tlog
ImageTester/ImageProcess_H/x64/Release/stdafx.obj
ImageTester/ImageProcess_H/x64/Release/vc100.pdb
ImageTester/x64/Release/SimpleDll.pdb
ImageTester/x64/Release/SimpleDll.lib
ImageTester/x64/Release/SimpleDll.exp
ImageTester/x64/Release/SimpleDll.dll
ImageTester/x64/Release/opencv_videostab249.dll
ImageTester/x64/Release/opencv_video249.dll
ImageTester/x64/Release/opencv_superres249.dll
ImageTester/x64/Release/opencv_stitching249.dll
ImageTester/x64/Release/opencv_photo249.dll
ImageTester/x64/Release/opencv_ocl249.dll
ImageTester/x64/Release/opencv_objdetect249.dll
ImageTester/x64/Release/opencv_nonfree249.dll
ImageTester/x64/Release/opencv_ml249.dll
ImageTester/x64/Release/opencv_legacy249.dll
ImageTester/x64/Release/opencv_imgproc249.dll
ImageTester/x64/Release/opencv_highgui249.dll
ImageTester/x64/Release/opencv_gpu249.dll
ImageTester/x64/Release/opencv_flann249.dll
ImageTester/x64/Release/opencv_ffmpeg249_64.dll
ImageTester/x64/Release/opencv_features2d249.dll
ImageTester/x64/Release/opencv_core249.dll
ImageTester/x64/Release/opencv_contrib249.dll
ImageTester/x64/Release/opencv_calib3d249.dll
ImageTester/x64/Release/lapack_win64_MT.dll
ImageTester/x64/Release/ImageTester.pdb
ImageTester/x64/Release/ImageTester.lib
ImageTester/x64/Release/ImageTester.exp
ImageTester/x64/Release/ImageTester.exe
ImageTester/x64/Release/ImageProcess_Open.pdb
ImageTester/x64/Release/ImageProcess_Open.lib
ImageTester/x64/Release/ImageProcess_Open.exp
ImageTester/x64/Release/ImageProcess_Open.dll
ImageTester/x64/Release/ImageProcess_M.pdb
ImageTester/x64/Release/ImageProcess_M.lib
ImageTester/x64/Release/ImageProcess_M.exp
ImageTester/x64/Release/ImageProcess_H.pdb
ImageTester/x64/Release/ImageProcess_H.lib
ImageTester/x64/Release/ImageProcess_H.exp
ImageTester/x64/Release/ImageProcess_H.dll
ImageTester/x64/Release/ImageProcess_C.pdb
ImageTester/x64/Release/ImageProcess_C.lib
ImageTester/x64/Release/ImageProcess_C.exp
ImageTester/x64/Release/ImageProcess_C.dll.manifest
ImageTester/x64/Release/ImageProcess_C.dll
ImageTester/x64/Release/blas_win64_MT.dll
ImageTester/x64/Debug/SimpleDll.pdb
ImageTester/x64/Debug/SimpleDll.lib
ImageTester/x64/Debug/SimpleDll.ilk
ImageTester/x64/Debug/SimpleDll.exp
ImageTester/x64/Debug/SimpleDll.dll
ImageTester/x64/Debug/opencv_videostab249d.dll
ImageTester/x64/Debug/opencv_video249d.dll
ImageTester/x64/Debug/opencv_superres249d.dll
ImageTester/x64/Debug/opencv_stitching249d.dll
ImageTester/x64/Debug/opencv_photo249d.dll
ImageTester/x64/Debug/opencv_ocl249d.dll
ImageTester/x64/Debug/opencv_objdetect249d.dll
ImageTester/x64/Debug/opencv_nonfree249d.dll
ImageTester/x64/Debug/opencv_ml249d.dll
ImageTester/x64/Debug/opencv_legacy249d.dll
ImageTester/x64/Debug/opencv_imgproc249d.dll
ImageTester/x64/Debug/opencv_highgui249d.dll
ImageTester/x64/Debug/opencv_gpu249d.dll
ImageTester/x64/Debug/opencv_flann249d.dll
ImageTester/x64/Debug/opencv_features2d249d.dll
ImageTester/x64/Debug/opencv_core249d.dll
ImageTester/x64/Debug/opencv_contrib249d.dll
ImageTester/x64/Debug/opencv_calib3d249d.dll
ImageTester/x64/Debug/lapack_win64_MT.dll
ImageTester/x64/Debug/ImageTester.pdb
ImageTester/x64/Debug/ImageTester.lib
ImageTester/x64/Debug/ImageTester.exp
ImageTester/x64/Debug/ImageProcess_Open.pdb
ImageTester/x64/Debug/ImageProcess_Open.lib
ImageTester/x64/Debug/ImageProcess_Open.ilk
ImageTester/x64/Debug/ImageProcess_Open.exp
ImageTester/x64/Debug/ImageProcess_Open.dll.manifest
ImageTester/x64/Debug/ImageProcess_Open.dll
ImageTester/x64/Debug/ImageProcess_M.pdb
ImageTester/x64/Debug/ImageProcess_M.lib
ImageTester/x64/Debug/ImageProcess_M.exp
ImageTester/x64/Debug/ImageProcess_C.pdb
ImageTester/x64/Debug/ImageProcess_C.lib
ImageTester/x64/Debug/ImageProcess_C.ilk
ImageTester/x64/Debug/ImageProcess_C.exp
ImageTester/x64/Debug/ImageProcess_C.dll.manifest
ImageTester/x64/Debug/ImageProcess_C.dll
ImageTester/send_mpjt/send_mpjt.zip
ImageTester/send_mpjt/MilStr.dll
ImageTester/send_mpjt/Milreg.dll
ImageTester/send_mpjt/MILPerf.dll
ImageTester/send_mpjt/Milpat.dll
ImageTester/send_mpjt/miloptrc.dll
ImageTester/send_mpjt/Milocr.dll
ImageTester/send_mpjt/MilNetworkSlave.dll
ImageTester/send_mpjt/MilNetwork.dll
ImageTester/send_mpjt/milmv.dll
ImageTester/send_mpjt/milmp.dll
ImageTester/send_mpjt/milmon.dll
ImageTester/send_mpjt/milmod.dll
ImageTester/send_mpjt/Milmetrol.dll
ImageTester/send_mpjt/MilMeas.dll
ImageTester/send_mpjt/Milim.dll
ImageTester/send_mpjt/MilGrabc.dll
ImageTester/send_mpjt/MilGPU.dll
ImageTester/send_mpjt/milfpga.dll
ImageTester/send_mpjt/Miledge.dll
ImageTester/send_mpjt/MilDisplay.dll
ImageTester/send_mpjt/milcolor.dll
ImageTester/send_mpjt/Milcode.dll
ImageTester/send_mpjt/Milcal.dll
ImageTester/send_mpjt/milcacheinfo.dll
ImageTester/send_mpjt/MilBlob.dll
ImageTester/send_mpjt/Mil3dmap.dll
ImageTester/send_mpjt/Mil.dll
ImageTester/send_mpjt/ImageProcess_M.lib
ImageTester/send_mpjt/ImageProcess_M.h
ImageTester/send_mpjt/ImageProcess_M.dll
ImageTester/send_mpjt/gcamgui.dll
ImageTester/send_mpjt/DigitizerController.dll
ImageTester/send_mpjt/CImageProcessM.h
ImageTester/send32/ImageProcess_M.lib
ImageTester/send32/ImageProcess_M.h
ImageTester/send32/ImageProcess_M.dll
ImageTester/send32/CImageProcessM.h
ImageTester/send/Labeling.h
ImageTester/send/ImageProcess_define.h
ImageTester/send/ImageProcess_C.lib
ImageTester/send/ImageProcess_C.h
ImageTester/send/ImageProcess_C.dll
ImageTester/send/ImageProcess.h
ImageTester/send/BlobDef.h
ImageTester/send/BhImage.h
*.ipch
ImageTester/ImageTester/x64/Release/vc100.pdb
ImageTester/ImageTester/x64/Release/SubImageView.obj
ImageTester/ImageTester/x64/Release/stdafx.obj
ImageTester/ImageTester/x64/Release/Spline.obj
ImageTester/ImageTester/x64/Release/rc.write.1.tlog
ImageTester/ImageTester/x64/Release/rc.read.1.tlog
ImageTester/ImageTester/x64/Release/rc.command.1.tlog
ImageTester/ImageTester/x64/Release/PolyLine.obj
ImageTester/ImageTester/x64/Release/PageTemplateMatching.obj
ImageTester/ImageTester/x64/Release/PagePixel.obj
ImageTester/ImageTester/x64/Release/PageMorphology.obj
ImageTester/ImageTester/x64/Release/PageEtc.obj
ImageTester/ImageTester/x64/Release/PageAlign.obj
ImageTester/ImageTester/x64/Release/mt.write.1.tlog
ImageTester/ImageTester/x64/Release/mt.read.1.tlog
ImageTester/ImageTester/x64/Release/mt.command.1.tlog
ImageTester/ImageTester/x64/Release/MessageView.obj
ImageTester/ImageTester/x64/Release/MainFrm.obj
ImageTester/ImageTester/x64/Release/link.write.1.tlog
ImageTester/ImageTester/x64/Release/link.read.1.tlog
ImageTester/ImageTester/x64/Release/link.command.1.tlog
ImageTester/ImageTester/x64/Release/link-cvtres.write.1.tlog
ImageTester/ImageTester/x64/Release/link-cvtres.read.1.tlog
ImageTester/ImageTester/x64/Release/Line.obj
ImageTester/ImageTester/x64/Release/Labeling.obj
ImageTester/ImageTester/x64/Release/ImageViewer.obj
ImageTester/ImageTester/x64/Release/ImageTesterView.obj
ImageTester/ImageTester/x64/Release/ImageTesterDoc.obj
ImageTester/ImageTester/x64/Release/ImageTester.write.1.tlog
ImageTester/ImageTester/x64/Release/ImageTester.vcxprojResolveAssemblyReference.cache
ImageTester/ImageTester/x64/Release/ImageTester.res
ImageTester/ImageTester/x64/Release/ImageTester.pch
ImageTester/ImageTester/x64/Release/ImageTester.obj
ImageTester/ImageTester/x64/Release/ImageTester.log
ImageTester/ImageTester/x64/Release/ImageTester.lastbuildstate
ImageTester/ImageTester/x64/Release/ImageTester.exe.intermediate.manifest
ImageTester/ImageTester/x64/Release/ImageProcess.obj
ImageTester/ImageTester/x64/Release/Dxf.obj
ImageTester/ImageTester/x64/Release/CommandView.obj
ImageTester/ImageTester/x64/Release/CL.write.1.tlog
ImageTester/ImageTester/x64/Release/CL.read.1.tlog
ImageTester/ImageTester/x64/Release/cl.command.1.tlog
ImageTester/ImageTester/x64/Release/Circle.obj
ImageTester/ImageTester/x64/Release/BhImage.obj
ImageTester/ImageTester/x64/Release/Arc.obj
ImageTester/ImageTester/x64/Debug/vc100.pdb
ImageTester/ImageTester/x64/Debug/vc100.idb
ImageTester/ImageTester/x64/Debug/SubImageView.obj
ImageTester/ImageTester/x64/Debug/stdafx.obj
ImageTester/ImageTester/x64/Debug/Spline.obj
ImageTester/ImageTester/x64/Debug/rc.write.1.tlog
ImageTester/ImageTester/x64/Debug/rc.read.1.tlog
ImageTester/ImageTester/x64/Debug/rc.command.1.tlog
ImageTester/ImageTester/x64/Debug/PolyLine.obj
ImageTester/ImageTester/x64/Debug/PageTemplateMatching.obj
ImageTester/ImageTester/x64/Debug/PagePixel.obj
ImageTester/ImageTester/x64/Debug/PageMorphology.obj
ImageTester/ImageTester/x64/Debug/PageEtc.obj
ImageTester/ImageTester/x64/Debug/PageAlign.obj
ImageTester/ImageTester/x64/Debug/mt.write.1.tlog
ImageTester/ImageTester/x64/Debug/mt.read.1.tlog
ImageTester/ImageTester/x64/Debug/mt.command.1.tlog
ImageTester/ImageTester/x64/Debug/MessageView.obj
ImageTester/ImageTester/x64/Debug/MainFrm.obj
ImageTester/ImageTester/x64/Debug/link.write.1.tlog
ImageTester/ImageTester/x64/Debug/link.read.1.tlog
ImageTester/ImageTester/x64/Debug/link.command.1.tlog
ImageTester/ImageTester/x64/Debug/link-cvtres.write.1.tlog
ImageTester/ImageTester/x64/Debug/link-cvtres.read.1.tlog
ImageTester/ImageTester/x64/Debug/Line.obj
ImageTester/ImageTester/x64/Debug/Labeling.obj
ImageTester/ImageTester/x64/Debug/ImageViewer.obj
ImageTester/ImageTester/x64/Debug/ImageTesterView.obj
ImageTester/ImageTester/x64/Debug/ImageTesterDoc.obj
ImageTester/ImageTester/x64/Debug/ImageTester_manifest.rc
ImageTester/ImageTester/x64/Debug/ImageTester.write.1.tlog
ImageTester/ImageTester/x64/Debug/ImageTester.vcxprojResolveAssemblyReference.cache
ImageTester/ImageTester/x64/Debug/ImageTester.unsuccessfulbuild
ImageTester/ImageTester/x64/Debug/ImageTester.res
ImageTester/ImageTester/x64/Debug/ImageTester.pch
ImageTester/ImageTester/x64/Debug/ImageTester.obj
ImageTester/ImageTester/x64/Debug/ImageTester.log
ImageTester/ImageTester/x64/Debug/ImageTester.lastbuildstate
ImageTester/ImageTester/x64/Debug/ImageTester.exe.intermediate.manifest
ImageTester/ImageTester/x64/Debug/ImageTester.exe.embed.manifest.res
ImageTester/ImageTester/x64/Debug/ImageTester.exe.embed.manifest
ImageTester/ImageTester/x64/Debug/ImageTester.Build.CppClean.log
ImageTester/ImageTester/x64/Debug/ImageProcess.obj
ImageTester/ImageTester/x64/Debug/Dxf.obj
ImageTester/ImageTester/x64/Debug/CommandView.obj
ImageTester/ImageTester/x64/Debug/CL.write.1.tlog
ImageTester/ImageTester/x64/Debug/CL.read.1.tlog
ImageTester/ImageTester/x64/Debug/cl.command.1.tlog
ImageTester/ImageTester/x64/Debug/Circle.obj
ImageTester/ImageTester/x64/Debug/BhImage.obj
ImageTester/ImageTester/x64/Debug/Arc.obj
ImageTester/ImageTester/UserImages.bmp
ImageTester/ImageTester/res/Toolbar256.bmp
ImageTester/ImageTester/res/Toolbar.bmp
ImageTester/ImageTester/ReadMe.txt
*.suo
*.sdf
